.header_content {
  height: 90px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  background-color: rgb(249, 250, 251);
}

.header_logo {
  padding-left: 15px;
}

.logo {
  height: 60px;
}

.header_account {
  height: 50px;
  width: 50px;
  margin-right: 24px;
  background-color: #ccc;
  background-image: url(../../.././assets/avatars/avatar_15.jpg);
  background-size: 100%;
  border-radius: 30px;
}
