.menu_item {
  display: flex;
  text-decoration: none;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(99, 115, 129);
  justify-content: flex-start;
  border-radius: 6px;
  align-items: center;
  height: 60px;
  padding: 8px 0;
  transition: background ease-in-out 200ms;

  &.active {
    color: #333;
  }

  &:hover {
    background-color: rgb(205 211 220 / 52%);
  }
}

.icon {
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  flex: 1 1 auto;
}

.nav_sidebar {
  margin-top: 90px;
  padding: 8px;
}
