.wrapper {
  background-color: rgb(249, 250, 251);
}

.container {
  display: flex;
  margin-top: 90px;
}

.content {
  flex: 1;
  padding: 0 24px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
