.wrapper {
  border: 1px solid rgb(249, 250, 251);
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.page_item {
  width: 40px;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 0 10px;

  &:hover {
    box-shadow: none;
    background-color: rgb(57 164 48);
  }
}
