.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.page_item {
  width: 40px;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid;
  margin: 0 10px;
}

.page_link {
  width: 40px;
}
