.student_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.add_btn {
  border: 0;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Public Sans', sans-serif;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(32, 101, 209);
  cursor: pointer;
}

.tool_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  min-height: 64px;
}

.table_wrapper {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  overflow: hidden;
  box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  border-radius: 12px;
}
